{% extends 'base.html' %}

{% block content %}

{% if morethanonevote %}
<div class="container m-5">
  <div class="col-8 ">
  <h5>You can only upvote the same coin one time.</h5>
  </div>
  <div class="col-4">
    <h5><a href="{% url 'home1' %}">Return back</a></h5>
  </div>
</div>

{% else %}

  <div class="row mt-5 col-md-12">
    <div class="col-md-3 mb-3">
      <img src="{{product.image.url}}" class="img-fluid" style='height:180px'  alt="cryptonewsandprices">
     </div>
      <div class="col-md-7">
       <strong>{{product.title}} - Project Description:</strong> <br><br>
        <p>
            {{product.body}}
        </p>
        
        Number of Current Upvotes: {{product.votes_total}}<br>
        <p class="text-info mb-1"> Crypto added on: {{product.pub_date}}</p>
      </div>
      <div class="col-md-2 mt-4">
          <a href="javascript:{document.getElementById('upvote').submit()}"> 
              <button class="btn btn-info"><i class="fas fa-thumbs-up"></i> Upvote {{product.votes_total}}</button>  
              </a>
              <br> <br>
            <h5> <a href="{{product.url}}">Go to {{product.title}}</a></h5>
      
      </div>
      <div class="col-md-12 mr-3">
        
      </div>
      
    </div>

  </div>

  <form id='upvote' method='POST' action="{% url 'upvote' product.id %}">
    {% csrf_token %}
    <input type="hidden">
  </form>
  <br> 
  <div class="container">
  <div class="row">
      <div class="col-md-3 text-primary mr-1">
     
        </div>
    <div class="col-md-3 text-primary mr-1">
      Circulating Supply: {{ product.circulating_supply}}
    </div>
    <div class="col-md-3 text-primary">
      Max Supply: {{ product.max_supply}}
    </div>
  </div>

</div>
  <br><br>
  <div class="container col-md-6 ">
      {% if user.is_authenticated %}
      <a href="{% url 'update_product' product.id %}" class="btn btn-info">Update this Crypto</a>
      <a href="{% url 'delete_product' product.id %}" class="btn btn-danger">Delete this Crypto</a>

      {% endif %}
 
{% endif %}

</div>

{% endblock %}
<!-- 
<div class="container mt-5">
{% with comments.count as total_comments %}
  <h3>
    Number of Total Comments for {{product.title}}: {{ total_comments }} 
  </h3>
{% endwith %}
<div class="row mt-4">
  <div class="col-md-5">
      <h4 class="text-info">Add a new comment</h4>
      <form action="{% url 'detail' product.id %}" method="post">
        {{ comment_form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Add comment"></p>
      </form>
  </div>
  <div class="col-md-5">
      {% for comment in comments %}
    <div class="alert alert-dark">
        <h4 class="alert-heading">Comment {{ forloop.counter }} by {{ comment.name }}</h4>
      </p>
      <p>
        {{ comment.body }}
      </p>
      <hr>
      <p class="mb-0">
        {{ comment.created }}
      </p>
      <form action="{% url 'detail' product.id %}" method="post">
          {{ comment_form.as_p }}
          {% csrf_token %}
          <p><input type="submit" value="Replay"></p>
        </form>
    </div>
    {% if user.is_authenticated %}
  <a href="{% url 'delete_comment' comment.id %}" class="btn btn-info">Delete this Comment</a>
 

  {% endif %}
{% empty %}
  <p>There are no comments yet.</p>
</div>

{% endfor %}


{% if new_comment %}

  <h2>Your comment has been added.</h2>
{% else %}

 
{% endif %}

</div>
</div>
</div> -->





<!-- 
{% with comments.count as total_comments %}
  <h2>
    {{ total_comments }} comment{{ total_comments }}
  </h2>
{% endwith %}

{% for comment in comments %}
  <div class="comment">
    <p class="info">
      Comment {{ forloop.counter }} by {{ comment.name }}
      {{ comment.created }}
    </p>
    {{ comment.body }}
  </div>
{% empty %}
  <p>There are no comments yet.</p>
{% endfor %}

{% if new_comment %}
  <h2>Your comment has been added.</h2>
{% else %}
  <h2>Add a new comment</h2>
  <form action="{% url 'detail' product.id %}" method="post">
    {{ comment_form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Add comment"></p>
  </form>

  {% if user.is_authenticated %}
  <a href="{% url 'update_comment' product.id %}" class="btn btn-info">Update this Comment</a>
 

  {% endif %}
{% endif %} -->