{% extends 'base.html' %}

{% block content %}

{% if morethanonevote %}
<div class="container m-5">
  <div class="col-8 ">
  <h5>You can only upvote the same coin one time.</h5>
  </div>
  <div class="col-4">
    <h5><a href="{% url 'home1' %}">Return back</a></h5>
  </div>
</div>

{% else %}

  <div class="row mt-5 col-md-12">
    <div class="col-md-3">
      <img src="{{product.image.url}}" class="img-fluid" style='height:180px'  alt="cryptonewsandprices">
     </div>
      <div class="col-md-7">
       <strong>{{product.title}} - Project Description:</strong> <br><br>
        <p>
            {{product.body}}
        </p>
        
        Number of Current Upvotes: {{product.votes_total}}<br>
        <p class="text-info mb-1"> Crypto added on: {{product.pub_date}}</p>
      </div>
      <div class="col-md-2 mt-4">
          <a href="javascript:{document.getElementById('upvote').submit()}"> 
              <button class="btn btn-info"><i class="fas fa-thumbs-up"></i> Upvote {{product.votes_total}}</button>  
              </a>
              <br> <br>
            <h5> <a href="{{product.url}}">Go to {{product.title}}</a></h5>
      
      </div>
      <div class="col-md-12 mr-3">
        
      </div>
      
    </div>

  </div>

  <form id='upvote' method='POST' action="{% url 'upvote' product.id %}">
    {% csrf_token %}
    <input type="hidden">
  </form>
  <br> <br><br>
  <div class="container col-md-6 ">
      {% if user.is_authenticated %}
      <a href="{% url 'update_product' product.id %}" class="btn btn-info">Update this Crypto</a>
      <a href="{% url 'delete_product' product.id %}" class="btn btn-danger">Delete this Crypto</a>

      {% endif %}
  </div>
  
{% endif %}
{% endblock %}