{% extends 'base.html' %}

{% block content %} 
<div class="container text-info mt-3 mb-5">
  <div class="col-12 row">
    <div class="col-8">
    <h2 class="">Add new Crypto Coin</h2>
  </div>
  <div class="col-4">
     <a href="create"><i class="fas fa-plus fa-2x"></i></a> 
  </div>
  </div>
</div>

<div class="container">
  <div class="row">
  <div class="col-md-10">
  <nav class="navbar-expand-lg navbar-light bg-light">
    <div class="navbar-collapse">
      <ul class="navbar-nav m-3">
        <p>
          <b>Order By</b>
          <br>
          <a href="{% url 'ordenardate'  %}">Pub Date</a>
        </p>
      </ul>
      <ul class="navbar-nav m-3">
        <p>
          <b>Order By</b>
          <br>
          <a href="{% url 'ordenarname' %}">Name</a>
        </p>
      </ul>
      <ul class="navbar-nav m-3">
        <p>
          <b>Order By</b>
          <br>
          <a href="{% url 'votes_total' %}">Number of Votes</a>
        </p>
      </ul>
      <ul>
        <div class="search m-2">
          <form action="{% url 'search' %}">
            <div class="form-row">
                <label class="sr-only">keywords</label>
                <input type="text" name="keywords" class="form-control" placeholder="Enter Coin Name" >
                <button class="btn btn-info btn-block mt-4" type="submit">Find Project</button>
           
            </div>
          </form>
        </div>

      </ul>
    </div>
  </nav>
</div>


</div>
<br><br>


{% for product in products %}
<div class="row pb-3 m-3">
  <div class="col-2" onclick="window.location ='{% url 'detail' product.id %}';"
  style="cursor:pointer">
    <img src="{{product.image.url}}" class="img-fluid" alt="">
  </div>
  <div class="col-6">
    <a href="{% url 'detail' product.id %}"">
    <h3>{{product.title}}</h3>
    </a>
    <p>{{product.summary}}</p>
    </div>
    <div class="col-4">
        <a href="javascript:{document.getElementById('upvote{{product.id}}').submit()}" ><button class="btn btn-info"> <i class="fas fa-thumbs-up"></i> Upvote {{product.votes_total}}</button></a>
      </div>
</div>

<form id='upvote{{product.id}}' method='POST' action="{% url 'upvote' product.id %}">
    {% csrf_token %}
    <input type="hidden">

</form>




{% endfor %}

<div class="row">
    <div class="col-md-12">
      {% if products.has_other_pages %}
      <ul class="pagination">
        {% if products.has_previous %}
          <li class="page-item">
            <a href="?page={{products.previous_page_number}}" class="page-link">&laquo;</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link">&laquo;</a>
          </li>
        {% endif %}
          {% for i in products.paginator.page_range %}
            {% if products.number == i %}
             <li class="page-item active">
             <a href="" class="page-link">{{i}}</a>
              </li>
            {% else %}
              <li class="page-item">
              <a href="?page={{i}}" class="page-link">{{i}}</a>
              </li>
            {% endif %}
            {% if products.has_next %}
            <li class="page-item">
              <a href="?page={{products.next_page_number}}" class="page-link">&raquo;</a>
            </li>
            {% else %}
              <li class="page-item disabled">
                <a class="page-link">&raquo;</a>
              </li>
             {% endif %}
          {% endfor %}
        </ul>
        {% endif %}
    </div>
  </div>
{% endblock %}