{% extends 'base.html' %}


{% block content %}

{% load humanize %}

{% if deletion %}
<p>deletion completed</p>
  {% endif %}

<div class="container mt-5">
   
    <br>
  <div class="row">
     
      {% for x in news %}

      <div class="col-sm-4">
        <div class="card" style= "height:780px" >
            <img src={{x.image}} class="card-img-top" alt="Crypto News and Prices">
            <div class="card-body">
              <h5 class="card-title">{{x.title}} </h5>
              <p class="card-text">{{x.body|truncatechars:300}}... </p>
              <a href={{x.url}}  class="btn btn-primary" style=" position: absolute;
              top: 700px;
              left: 20px;">Read more</a>
            </div>
          </div>
          <br>
        </div>

        {% endfor %}
    </div>
  </div>
  <div class="container">
<p><small> Thanks to Cryptocompare for the bringing the prices and news show on this page. https://www.cryptocompare.com</small> </p>
</div>

{% endblock %}