{% extends 'base.html' %}


{% block content %}

{% load humanize %}

{% if deletion %}
<p>deletion completed</p>
  {% endif %}

<div class="container mt-5">
    <div class="card text-center p-3 bg-success text-white"> <h5>Visit our new <a href="{% url 'home1' %}">Crypto Hunt section</a>  to add and upvote your favorite crypto projects.</h5>
    </div>
    <br>
  <div class="row">
     
      {% for x in news %}

      <div class="col-sm-4">
        <div class="card" >
            <img src={{x.image}} class="card-img-top" alt="Crypto News and Prices">
            <div class="card-body">
              <h5 class="card-title">{{x.title}} </h5>
              <p class="card-text">{{x.body|truncatechars:300}}... </p>
              <a href={{x.url}}  class="btn btn-primary">Read more</a>
            </div>
          </div>
          <br>
        </div>

        {% endfor %}
    </div>
  </div>
  <div class="container">
<p><small> Thanks to Cryptocompare for the bringing the prices and news show on this page. https://www.cryptocompare.com</small> </p>
</div>

{% endblock %}