{% extends 'base.html' %}
{% block content %}

{% if notfound %}
 <div class="container m-5">
   <h4>{{notfound}}</h4> 
  </div> 
{% else %}
  {% if crypto.Response %}
  <div class="container">
    <h4>Enter the right symbol,<strong> {{quote}}</strong> does not exist</h4>
  </div>
  {% endif %}
{% for key,value in crypto.DISPLAY.items %}

  

   <div class="jumbotron jumbotron-fluid bg-info text-white m-5 ">
      <div class="container">
          Name:  {{key}} <br>
          Price: {{value.USD.PRICE}}<br>
          High:  {{value.USD.HIGHDAY}}<br>
          Low: {{value.USD.LOWDAY}}<br>
          Market Cap. {{value.USD.MKTCAP}}<br>
      </div>
    </div>

  {% endfor %}
  {% endif %}
  <br><br>
{% endblock %}
